/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;

}
p {
  font-family: 'Jura', sans-serif;
}
h1{
  font-color:black;
}

body{ display: inline-block; }

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background: url("transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}
.dropdown-item{
  background-color: black;
}
.dropdown-item: hover{
  background-color: #212529;
}

/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

.btn-primary{

  background-color: rgb(203, 165, 234);
  border-color: #cba5ea;
  hover: background-color: #212529;
}
.btn-primary hover{

  background-color: #212529;
}

button hover { background-color: #212529;

}

.sectionHeading{
  text-align: center;
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}

footer {
 display: inline-block;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}



